@font-face {
    font-family: 'NoonnuBasicGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  height: 100%;
  min-height: 100vh;

  font-family: 'NoonnuBasicGothic';
  font-size: 1em;
  /*line-height: 1.5em;*/
  /*min-height: 100vh;*/
  background-color: papayawhip;
  color: black;
  
  display: block;
  padding: 10px;

}

main, header, footer {
  padding: 40px;
  padding-top: 10px;
  border-style: none; 
  color: #141414;
}

header, footer {
  padding: 50px;
}
