* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    background: green;
}

.grid-item {
    font-family: 'Trebuchet NS', sans-serif;
    padding: 20px 30px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    transition: background-color 800ms ease-in 300ms;
}

.grid-item:hover {
    background-color: rgb(206, 135, 147);
}